# /etc/systemd/system/{{ secrets.WINDMILL.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.WINDMILL.USERNAME }}
User={{ secrets.WINDMILL.USERNAME }}
Group={{ secrets.WINDMILL.USERNAME }}
WorkingDirectory=/home/{{ secrets.WINDMILL.USERNAME }}

[Install]
WantedBy=multi-user.target
