*.mp4
*.zip
*.srt
*.txt
*.db
*.db-shm
*.db-wal
# Dont ignore files in test folder
!test

.env
whisper_models
result
SECRETS.toml
messages.db
messages.db-journal
media_downloader.session
media_downloader.session-journal
unknown_errors.txt

words.txt
