{# 'value' of input will have comma separated ids of chapters. If empty, all have been converted #}
<input class="invisible"
    type="text"
    name="hidden_refresh_queue"
    id="hidden_refresh_queue"
    value="{{ chapters_for_input_as_string }}"
    hx-swap-oob="outerHTML"
    hx-post="/audiobook/refresh_chapters?book_id={{ book_id }}"
    {# djlint:off #}
        {%- if book_name is defined -%}
            hx-trigger="load"
        {%- elif chapters_for_input_as_string is defined
            and chapters_for_input_as_string|length == 0 -%}
        {%- else -%}
            hx-trigger="every 10s"
        {%- endif -%}
    {# djlint:on #}
    >
    {# Update chapters text #}
    {%- for chapter in chapters -%}
        {% if chapter.chapter_title is defined and chapter.sentence_count is defined %}
            <div id="chapter_{{ chapter.chapter_number }}"
                 class="self-center border-gray-400 bg-white p-2 hover:bg-gray-100"
                 hx-swap-oob="outerHTML">
                {{ chapter.chapter_title }} with {{ chapter.sentence_count }} sentences
            </div>
        {% endif %}
    {%- endfor -%}
    {# Update chapters audio #}
    {%- for chapter in chapters -%}
        {% include "audiobook/epub_chapter.html" with context %}
    {%- endfor -%}
