<div class="overflow-x-auto">
  <table class="min-w-full my-8 border border-gray-300 rounded-lg overflow-hidden">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left border-b border-gray-300 hidden md:table-cell">
          Upload Date
        </th>
        <th class="px-4 py-2 text-left border-b border-gray-300">
          Book Title
        </th>
        <th class="px-4 py-2 text-left border-b border-gray-300">
          Book Author
        </th>
        <th class="px-4 py-2 text-left border-b border-gray-300 hidden md:table-cell">
          Chapters
        </th>
        <th class="px-4 py-2 text-left border-b border-gray-300">
          Remove Book
        </th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr id="bookrow{{ book.id }}"
            class="cursor-pointer hover:bg-yellow-100 transition-colors duration-200"
            onclick="handleRowClick(event, '/audiobook/book/{{ book.id }}')">
          <td class="px-4 py-2 border-b border-gray-200 hidden md:table-cell">
            {{ book.upload_date.strftime("%Y-%m-%d") }}
          </td>
          <td class="px-4 py-2 border-b border-gray-200">
            {{ book.custom_book_title or book.book_title }}
          </td>
          <td class="px-4 py-2 border-b border-gray-200">
            {{ book.custom_book_author or book.book_author }}
          </td>
          <td class="px-4 py-2 border-b border-gray-200 hidden md:table-cell">
            {{ book.chapter_count }}
          </td>
          {#- djlint:off -#}
          <td class="px-4 py-2 border-b border-gray-200"
              hx-post="/audiobook/delete_book?book_id={{ book.id }}"
              hx-swap="delete"
              hx-target="#bookrow{{ book.id }}"
              hx-confirm="Are you sure you wish to delete this book?"
              hx-trigger="click consume">
            {#- djlint:on -#}
            <div class="flex justify-center">
              <img class="rounded-xl hover:bg-red-500 bg-red-300 p-1 transition-colors duration-200"
                   width="32"
                   height="32"
                   src="/static/delete.svg"
                   alt="Delete book">
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
    function handleRowClick(event, url) {
      if (event.ctrlKey || event.metaKey) {
        // Ctrl+click (or Cmd+click on Mac) opens in new tab
        window.open(url, '_blank');
      } else {
        // Regular click opens in same tab
        window.location = url;
      }
    }
</script>
