# /etc/systemd/system/{{ secrets.NAVIDROME.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker run \
    --rm \
    --name=navidrome \
    -e PUID={{ USER_ID.stdout }} \
    -e PGID={{ GROUP_ID.stdout }} \
    -v {{ secrets.NAVIDROME.MEDIA_FOLDER }}:/music:ro \
    -v ./data:/data \
    -l traefik.enable=true \
    -l traefik.http.routers.{{ secrets.NAVIDROME.USERNAME }}.rule=Host(`{{ secrets.NAVIDROME.USERNAME }}.{{ secrets.MY_DOMAIN }}`) \
    -l traefik.http.services.{{ secrets.NAVIDROME.USERNAME }}.loadbalancer.server.port=4533 \
    -l traefik.http.routers.{{ secrets.NAVIDROME.USERNAME }}.tls=true \
    -l traefik.http.routers.{{ secrets.NAVIDROME.USERNAME }}.tls.certresolver=production \
    -l traefik.http.routers.{{ secrets.NAVIDROME.USERNAME }}.middlewares=authelia@docker \
    --network {{ secrets.TRAFIK_NETWORK }} \
    deluan/navidrome:latest
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.NAVIDROME.USERNAME }}
User={{ secrets.NAVIDROME.USERNAME }}
Group={{ secrets.NAVIDROME.USERNAME }}
WorkingDirectory=/home/{{ secrets.NAVIDROME.USERNAME }}

[Install]
WantedBy=multi-user.target
