<dialog
    id="columns-reorder-dialog"
    class="rounded-xl p-8 ring-8 backdrop:bg-white/30 backdrop:backdrop-blur-sm backdrop:backdrop-brightness-50"
    show
>
    <form
        id="save-active-columns-form"
        class="flex flex-col gap-4"
        method="dialog"
        hx-post="/telegram-browser/save-active-columns"
        hx-include="#active-columns"
        hx-swap="none"
    >

        <table class="h-1"> {# Fixes cell height for some reason #}
            <tr>
                <th>
                    <div>Active columns</div>
                </th>
                <th>
                    <div>Disabled columns</div>
                </th>
            </tr>

            <tr>
                {# Active columns with order, filled from cookie #}
                <td>
                    <div
                        id="active-columns"
                        class="droppable-container mx-2 flex h-full flex-col gap-2 border border-black p-2"
                    >
                        {% for col_key, col_name in active_columns.items() %}
                        <div
                            id="{{ col_key }}"
                            class="draggable-item whitespace-nowrap rounded-xl hover:bg-yellow-300"
                            draggable="true"
                        >{{
                            col_name }}</div>
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div
                        id="disabled-columns"
                        class="droppable-container mx-2 flex h-full flex-col gap-2 border border-black p-2"
                    >
                        {% for col_key, col_name in disabled_columns.items() %}
                        <div
                            id="{{ col_key }}"
                            class="draggable-item whitespace-nowrap rounded-xl hover:bg-yellow-300"
                            draggable="true"
                        >{{
                            col_name }}</div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>

        <div class="flex gap-4">
            <button
                type="submit"
                class="grow rounded-xl bg-green-400 p-2 hover:bg-green-500"
            >Save changes</button>
            <button
                type="button"
                class="grow rounded-xl bg-red-400 p-2 hover:bg-red-500"
                onclick="document.getElementById('columns-reorder-dialog').close();"
            >Cancel</button>
        </div>
    </form>
</dialog>
<script>
    // Add columns order from active-columns childrens
    document.addEventListener('htmx:configRequest', (event) => {
        // https://htmx.org/events/#htmx:configRequest
        if (event.target.id !== "save-active-columns-form") {
            return
        }
        const container = document.getElementById('active-columns');
        const items = Array.from(container.getElementsByClassName('draggable-item'));
        event.detail.parameters['columns-order'] = items.map(item => item.id).join(';');
    });
    // After request is sent, close dialog window normally
    document.addEventListener('htmx:afterRequest', (event) => {
        if (event.target.id === "save-active-columns-form" && event.detail.successful) {
            document.getElementById('columns-reorder-dialog').close();
        }
    });
    // Drag and drop functionality https://www.youtube.com/watch?v=jfYWwQrtzzY
    document.querySelectorAll('.draggable-item').forEach(draggable => {
        draggable.addEventListener('dragstart', () => {
            draggable.classList.add('dragging')
        })
        draggable.addEventListener('dragend', () => {
            draggable.classList.remove('dragging')
        })
    });
    document.querySelectorAll('.droppable-container').forEach(container => {
        container.addEventListener('dragover', e => {
            e.preventDefault()
            const afterElement = getDragAfterElement(container, e.clientY)
            const draggable = document.querySelector('.dragging')
            if (afterElement == null) {
                container.appendChild(draggable)
            } else {
                container.insertBefore(draggable, afterElement)
            }
        })
    });
    function getDragAfterElement(container, y) {
        const draggableElements = [...container.querySelectorAll('.draggable-item:not(.dragging)')]
        return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect()
            const offset = y - box.top - box.height / 2
            if (offset < 0 && offset > closest.offset) {
                return { offset: offset, element: child }
            } else {
                return closest
            }
        }, { offset: Number.NEGATIVE_INFINITY }).element
    }
</script>
<style>
    .draggable-item {
        padding: 1rem;
        border: 1px solid black;
        cursor: move;
    }

    .draggable-item.dragging {
        opacity: .5;
    }
</style>