# /etc/systemd/system/{{ secrets.UPTIME_KUMA.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker run \
    --rm \
    --name=uptime-kuma \
    -v ./uptime-kuma:/app/data \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -l traefik.enable=true \
    -l traefik.http.routers.{{ secrets.UPTIME_KUMA.USERNAME }}.rule=Host(`{{ secrets.UPTIME_KUMA.USERNAME }}.{{ secrets.MY_DOMAIN }}`) \
    -l traefik.http.services.{{ secrets.UPTIME_KUMA.USERNAME }}.loadbalancer.server.port=3001 \
    -l traefik.http.routers.{{ secrets.UPTIME_KUMA.USERNAME }}.tls=true \
    -l traefik.http.routers.{{ secrets.UPTIME_KUMA.USERNAME }}.tls.certresolver=production \
    -l traefik.http.routers.{{ secrets.UPTIME_KUMA.USERNAME }}.middlewares=authelia@docker \
    --network {{ secrets.TRAFIK_NETWORK }} \
    louislam/uptime-kuma:1
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.UPTIME_KUMA.USERNAME }}
User={{ secrets.UPTIME_KUMA.USERNAME }}
Group={{ secrets.UPTIME_KUMA.USERNAME }}
WorkingDirectory=/home/{{ secrets.UPTIME_KUMA.USERNAME }}

[Install]
WantedBy=multi-user.target
