# /etc/systemd/system/{{ secrets.VRISING.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.VRISING.USERNAME }}
User={{ secrets.VRISING.USERNAME }}
Group={{ secrets.VRISING.USERNAME }}
WorkingDirectory=/home/{{ secrets.VRISING.USERNAME }}

[Install]
WantedBy=multi-user.target