[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
dpcontracts = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
hypothesis = "*"

[requires]
python_version = "3.6"
