<div class="flex flex-col items-center justify-center w-full h-full p-1">
    {% if mime_type.startswith("video/") %}
    <video class="grow" controls>
        <source src="{{ minio_url }}" type="{{ mime_type }}">
        Your browser does not support the video tag.
    </video>
    {% elif mime_type.startswith("audio/") %}
    <audio class="w-full" controls>
        <source src="{{ minio_url }}" type="{{ mime_type }}">
        Your browser does not support the audio tag.
    </audio>
    {% elif mime_type.startswith("image/") %}
    <img class="object-scale-down" src="{{ minio_url }}" alt="" />
    {% endif %}
    <button class="border-2 border-white text-white p-1 hover:bg-green-800 mt-2"
        onclick="a=document.getElementById('view-media-dialog');a.close();a.replaceChildren()">Close</button>
</div>