{#
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure -->
#}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BurnySc2's Website</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <style>
        .htmx-indicator {
            opacity: 0;
        }

        /* Slowly become visible */
        @keyframes initially-hidden {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .htmx-indicator.htmx-request {
            animation: initially-hidden 2s cubic-bezier();
        }
    </style>
</head>