{% include "header.html" with context %}

<body class="flex h-screen flex-col bg-gray-100">
    {% include "nav.html" with context %}
    <main class="flex flex-col items-center justify-center grow">
        <div class="w-full max-w-md rounded-lg bg-white p-8 shadow-lg">
            <h1 class="mb-6 text-center text-2xl font-bold text-gray-800">Welcome to burnysc2's homepage</h1>

            <div class="space-y-4">
                <p class="text-center text-gray-700">
                    This is the home page of burnysc2's project.
                </p>
            </div>
        </div>
    </main>
</body>

</html>