# /etc/systemd/system/{{ secrets.SONARQUBE.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.SONARQUBE.USERNAME }}
User={{ secrets.SONARQUBE.USERNAME }}
Group={{ secrets.SONARQUBE.USERNAME }}
WorkingDirectory=/home/{{ secrets.SONARQUBE.USERNAME }}

[Install]
WantedBy=multi-user.target