# /etc/systemd/system/{{ secrets.AUTHELIA.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.AUTHELIA.USERNAME }}
User={{ secrets.AUTHELIA.USERNAME }}
Group={{ secrets.AUTHELIA.USERNAME }}
WorkingDirectory=/home/{{ secrets.AUTHELIA.USERNAME }}

[Install]
WantedBy=multi-user.target
