# /etc/systemd/system/{{ secrets.OWNCLOUD.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.OWNCLOUD.USERNAME }}
User={{ secrets.OWNCLOUD.USERNAME }}
Group={{ secrets.OWNCLOUD.USERNAME }}
WorkingDirectory=/home/{{ secrets.OWNCLOUD.USERNAME }}

[Install]
WantedBy=multi-user.target