[tool.poetry]
name = "fastapi_server"
version = "0.1.0"
description = ""
authors = ["BuRny <gamingburny@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.8 <3.11"
# Write and read classes to/from json
dataclasses-json = "^0.5"
# Fastapi server
fastapi = "^0.70"
starlette = "^0.16.0"
uvicorn = "^0.16"
# Somehow required
colorama = "^0.4.4"
# Simple logger
loguru = "^0.5"
# Network interaction
requests = "^2.27.1"
zephyrus-sc2-parser = "^0.3.7"
python-multipart = "^0.0.5"

[tool.poetry.dev-dependencies]
# Test library
pytest = "^7.0.1"
pytest-asyncio = "^0.16"
hypothesis = "^6.39.3"
# Autoformatter
yapf = "^0.32"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
