<header id="chatheader">
  <div>
    <!-- https://kit.svelte.dev/docs/link-options#data-sveltekit-preload-data -->
    <div
      class="flex flex-row"
      hx-trigger="load"
      hx-get="https://{{ server_url }}/htmxapi/login"
      hx-swap="outerHTML"
      hx-target="#chatheader"
      hx-request="{credentials:true}"
    ></div>
    {% if logged_in %}
    <a href="https://{{ server_url }}/logout">Log out</a>
    {% endif %} {% if not logged_in %}
    <a href="https://github.com/login/oauth/authorize?client_id={{ client_id }}"
      >Log in with Github</a
    >
    {% endif %}
  </div>
</header>
