# /etc/systemd/system/{{ secrets.JELLYFIN.USERNAME }}.service
#-e PUID={{ USER_ID.stdout }} \
#-e PGID={{ GROUP_ID.stdout }} \
[Service]
ExecStart=/usr/bin/docker run \
    --rm \
    --name jellyfin \
    --volume ./config:/config \
    --volume {{ secrets.JELLYFIN.MEDIA_FOLDER }}:/media \
    -l traefik.enable=true \
    -l traefik.http.routers.{{ secrets.JELLYFIN.USERNAME }}.rule=Host(`{{ secrets.JELLYFIN.USERNAME }}.{{ secrets.MY_DOMAIN }}`) \
    -l traefik.http.services.{{ secrets.JELLYFIN.USERNAME }}.loadbalancer.server.port=8096 \
    -l traefik.http.routers.{{ secrets.JELLYFIN.USERNAME }}.tls=true \
    -l traefik.http.routers.{{ secrets.JELLYFIN.USERNAME }}.tls.certresolver=production \
    -l traefik.http.routers.{{ secrets.JELLYFIN.USERNAME }}.middlewares=authelia@docker \
    --network {{ secrets.TRAFIK_NETWORK }} \
    lscr.io/linuxserver/jellyfin:latest
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.JELLYFIN.USERNAME }}
User={{ secrets.JELLYFIN.USERNAME }}
Group={{ secrets.JELLYFIN.USERNAME }}
WorkingDirectory=/home/{{ secrets.JELLYFIN.USERNAME }}

[Install]
WantedBy=multi-user.target
