<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX+Fastapi Todo App</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <style>
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        #spinner {
            width: 128px;
            animation: spin 2s linear infinite;
        }
    </style>
</head>

<body id="body">
    <div class="flex flex-col h-screen justify-center items-center bg-gray-200">
        <img id="spinner" class="htmx-indicator" src="/static/spinner.svg" />
        <form class="flex flex-col gap-4 items-center place-items-center justify-items-center text-center" enctype="multipart/form-data" hx-post="/twitch/audiobook/epub" hx-trigger="submit"
            hx-target="#body" hx-swap="innerHTML" hx-indicator="#spinner">
            <input class="self-center border-black border-2" type="file" name="file" accept=".epub">
            <button type="submit"
                class="flex border-4 border-black p-4 rounded-3xl hover:bg-green-300">Upload epub</button>
        </form>
    </div>
</body>