
<div id="chapter_audio_{{ chapter_number }}" class="flex gap-2 h-auto">
    <button class="flex border-4 border-black p-2"
        hx-target="#chapter_audio_{{ chapter_number }}" hx-swap="innerHTML"
        hx-post="/twitch/audiobook/epub/generate_audio?book_id={{ book_id }}&chapter_number={{ chapter_number }}"
        hx-trigger="click" hx-indicator="#spinner1_{{ chapter_number }}"
        >Generate audio
        <img id="spinner1_{{ chapter_number }}" class="htmx-indicator"
            src="/static/spinner.svg" />
    </button>
</div>