# /etc/systemd/system/fastapi.service
[Service]
ExecStart=/usr/bin/docker run --rm --name fastapi_server \
    --env STAGE=PROD \
    --env-file ./.env \
    -v ./data:/root/fastapi_server/data \
    -l traefik.enable=true \
    -l traefik.http.routers.fastapi.rule=Host(`api.burnysc2.de`) \
    -l traefik.http.services.fastapi.loadbalancer.server.port=8000 \
    -l traefik.http.routers.fastapi.tls=true \
    -l traefik.http.routers.fastapi.tls.certresolver=production \
    --network traefiknet \
    burnysc2/fastapi_server:latest
Restart=always
RestartSec=20
SyslogIdentifier=fastapi
User=fastapi
Group=fastapi
WorkingDirectory=/home/fastapi/

[Install]
WantedBy=multi-user.target
