# /etc/systemd/system/{{ secrets.PAPERLESS.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.PAPERLESS.USERNAME }}
User={{ secrets.PAPERLESS.USERNAME }}
Group={{ secrets.PAPERLESS.USERNAME }}
WorkingDirectory=/home/{{ secrets.PAPERLESS.USERNAME }}

[Install]
WantedBy=multi-user.target
