# /etc/systemd/system/{{ secrets.TUBEARCHIVIST.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.TUBEARCHIVIST.USERNAME }}
User={{ secrets.TUBEARCHIVIST.USERNAME }}
Group={{ secrets.TUBEARCHIVIST.USERNAME }}
WorkingDirectory=/home/{{ secrets.TUBEARCHIVIST.USERNAME }}

[Install]
WantedBy=multi-user.target
