{% if refresh_items|length == 0 %}
    <input id="refresher"
           name="refresher"
           hx-swap-oob="outerHTML"
           value=""
           placeholder="Done refreshing!"
           readonly>
{% else %}
    <input id="refresher"
           name="refresher"
           hx-swap-oob="outerHTML"
           hx-post="/multi-swap-test/swap-elements"
           hx-trigger="every 2000ms"
           value="{{ ';'.join(refresh_items) }}"
           readonly>
{% endif %}
{% for item in items %}
    <div id="{{ item.id }}"
         hx-swap-oob="outerHTML">
        {{ item.text }}
    </div>
{% endfor %}
