{% include "header.html" with context %}
<body class="flex h-screen flex-col">
    {% include "nav.html" with context %}
    <main class="flex grow flex-col items-center bg-gray-300 p-4 lg:overflow-y-auto">
        <div class="flex flex-col gap-2 lg:m-4 lg:h-full lg:w-3/4 lg:overflow-y-auto">
            <div class="text-center text-4xl font-bold">
                {{ book_name }}
            </div>
            <div class="text-center text-2xl font-semibold">
                {{ book_author }}
            </div>
            <div class="flex flex-col rounded border-2 border-black p-2">
                <div class="place-self-center text-2xl font-semibold underline">
                    Settings
                </div>
                <form class="grid grid-cols-2"
                      hx-post="/audiobook/save_settings_to_cookies"
                      hx-swap="none"
                      hx-include="#voice_name, #voice_rate, #voice_volume, #voice_pitch"
                      hx-trigger="change delay:200ms">
                    <div class="text-right px-2">
                        Voice
                    </div>
                    <select id="voice_name" name="voice_name">
                        {% for voice_name in available_voices %}
                            {#- djlint:off -#}
                            <option value="{{ voice_name }}"
                                    {% if user_settings.voice_name==voice_name %} selected {% endif %}>
                                {#- djlint:on -#}
                                {{ voice_name }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="text-right px-2">
                        Rate
                    </div>
                    <input id="voice_rate"
                           name="voice_rate"
                           type="number"
                           min="0"
                           value="{{ user_settings.voice_rate }}" />
                    <div class="text-right px-2">
                        Volume
                    </div>
                    <input id="voice_volume"
                           name="voice_volume"
                           type="number"
                           min="0"
                           value="{{ user_settings.voice_volume }}" />
                    <div class="text-right px-2">
                        Pitch
                    </div>
                    <input id="voice_pitch"
                           name="voice_pitch"
                           type="number"
                           value="{{ user_settings.voice_pitch }}" />
                </form>
            </div>
            <div class="flex flex-col rounded border-2 border-black p-2">
                <div class="place-self-center text-2xl font-semibold underline">
                    Book
                </div>
                {#
                <!-- TODO Allow custom book name and author before downloading -->
                <!-- Show info on how many Chapters, sentences, words this book contains -->
                #}
                <div class="flex justify-center space-x-4">
                    <button hx-post="/audiobook/generate_audio_for_book?book_id={{ book_id }}"
                            hx-swap="none"
                            hx-include="#voice_name, #voice_rate, #voice_volume, #voice_pitch, #hidden_refresh_queue"
                            hx-indicator="#spinner_book"
                            class="flex items-center rounded-3xl border-4 border-black p-2 hover:bg-green-500">
                        Generate audio for all chapters
                        <img id="spinner_book"
                             class="htmx-indicator w-8 animate-spin"
                             src="/static/spinner.svg" />
                    </button>
                    {# TODO Only show download-zip-button if audio for all chapters have been generated #}
                    <a download
                       href="/audiobook/download_book_zip?book_id={{ book_id }}"
                       class="self-center rounded-3xl hover:bg-yellow-500">
                        <img width="64"
                             height="64"
                             src="/static/download.svg"
                             alt="Download audio">
                    </a>
                    <button hx-post="/audiobook/delete_book?book_id={{ book_id }}"
                            hx-swap="none"
                            hx-confirm="Are you sure you wish to delete this book?"
                            class="self-center rounded-3xl hover:bg-red-500">
                        <img width="64"
                             height="64"
                             src="/static/delete.svg"
                             alt="Delete book">
                    </button>
                </div>
            </div>
            <div class="flex flex-col rounded border-2 border-black p-2 lg:grow lg:overflow-y-auto">
                <div class="place-self-center text-2xl font-semibold underline">
                    Table of contents
                </div>
                {% include "audiobook/epub_refresh.html" with context %}
                <div class="gap-2"
                     style="display: grid;
                            grid-template-columns: auto auto">
                    {% for chapter_number in range(1, chapter_count+1) %}
                        <div id="chapter_{{ chapter_number }}">
                            <img class="w-8 animate-spin"
                                 style="opacity: 1"
                                 src="/static/spinner.svg" />
                        </div>
                        <div id="chapter_audio_{{ chapter_number }}">
                            <img class="w-8 animate-spin"
                                 style="opacity: 1"
                                 src="/static/spinner.svg" />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
