{% include "header.html" with context %}

<body class="flex h-screen flex-col">
    {% include "nav.html" with context %}
    <main class="flex grow flex-col items-center bg-gray-300 p-4 lg:overflow-y-auto">
        <div class="flex flex-col gap-2 lg:m-4 lg:h-full lg:w-3/4 lg:overflow-y-auto">
            <div class="text-center text-4xl font-bold">
                {{ book_name }}
            </div>
            <div class="text-center text-2xl font-semibold">
                {{ book_author }}
            </div>
            <div class="rounded-lg border-2 border-gray-700 bg-gray-200 p-4 shadow-lg transition-all hover:shadow-xl">
                <div class="mb-4 text-center text-2xl font-bold text-gray-800">
                    Settings
                </div>
                <form class="grid grid-cols-2 gap-4 items-center" hx-post="/audiobook/save_settings_to_cookies"
                    hx-swap="none" hx-include="#voice_name, #voice_rate, #voice_volume, #voice_pitch"
                    hx-trigger="change delay:200ms">
                    <div class="text-right font-semibold text-gray-700">
                        Voice
                    </div>
                    <select id="voice_name" name="voice_name" class="rounded border border-gray-400 p-1">
                        {% for voice_name in available_voices %}
                        {#- djlint:off -#}
                        <option value="{{ voice_name }}" {% if user_settings.voice_name==voice_name %} selected {% endif
                            %}>
                            {#- djlint:on -#}
                            {{ voice_name }}
                        </option>
                        {% endfor %}
                    </select>
                    <div class="text-right font-semibold text-gray-700">
                        Rate
                    </div>
                    <input id="voice_rate" name="voice_rate" type="number" min="0"
                        value="{{ user_settings.voice_rate }}" class="rounded border border-gray-400 p-1" />
                    <div class="text-right font-semibold text-gray-700">
                        Volume
                    </div>
                    <input id="voice_volume" name="voice_volume" type="number" min="0"
                        value="{{ user_settings.voice_volume }}" class="rounded border border-gray-400 p-1" />
                    <div class="text-right font-semibold text-gray-700">
                        Pitch
                    </div>
                    <input id="voice_pitch" name="voice_pitch" type="number" value="{{ user_settings.voice_pitch }}"
                        class="rounded border border-gray-400 p-1" />
                </form>
            </div>
            <div class="rounded-lg border-2 border-gray-700 bg-gray-200 p-4 shadow-lg transition-all hover:shadow-xl">
                <div class="mb-4 text-center text-2xl font-bold text-gray-800">
                    Book Actions
                </div>
                {#
                <!-- TODO Allow custom book name and author before downloading -->
                <!-- Show info on how many Chapters, sentences, words this book contains -->
                #}
                <div class="flex justify-center gap-4">
                    <button hx-post="/audiobook/generate_audio_for_book?book_id={{ book_id }}" hx-swap="none"
                        hx-include="#voice_name, #voice_rate, #voice_volume, #voice_pitch, #hidden_refresh_queue"
                        hx-indicator="#spinner_book"
                        class="flex items-center gap-2 rounded-lg border-2 border-gray-700 bg-green-200 px-4 py-2 font-semibold text-gray-800 transition-colors hover:bg-green-300">
                        Generate audio for all chapters
                        <img id="spinner_book" class="htmx-indicator w-6 animate-spin" src="/static/spinner.svg" />
                    </button>
                    {# TODO Only show download-zip-button if audio for all chapters have been generated #}
                    <a download href="/audiobook/download_book_zip?book_id={{ book_id }}"
                        class="flex items-center gap-2 rounded-lg border-2 border-gray-700 bg-yellow-200 px-4 py-2 font-semibold text-gray-800 transition-colors hover:bg-yellow-300">
                        <img width="24" height="24" src="/static/download.svg" alt="Download audio">
                        Download
                    </a>
                    <button hx-post="/audiobook/delete_book?book_id={{ book_id }}" hx-swap="none"
                        hx-confirm="Are you sure you wish to delete this book?"
                        class="flex items-center gap-2 rounded-lg border-2 border-gray-700 bg-red-200 px-4 py-2 font-semibold text-gray-800 transition-colors hover:bg-red-300">
                        <img width="24" height="24" src="/static/delete.svg" alt="Delete book">
                        Delete
                    </button>
                </div>
            </div>
            <div
                class="rounded-lg border-2 border-gray-700 bg-gray-200 p-4 shadow-lg transition-all hover:shadow-xl lg:grow lg:overflow-y-auto">
                <div class="mb-4 text-center text-2xl font-bold text-gray-800">
                    Table of Contents
                </div>
                {% include "audiobook/epub_refresh.html" with context %}
                <div class="gap-2" style="display: grid;
                            grid-template-columns: auto auto">
                    {% for chapter_number in range(1, chapter_count+1) %}
                    <div id="chapter_{{ chapter_number }}"></div>
                    <div id="chapter_audio_{{ chapter_number }}" class="flex items-center gap-2">
                        <img class="w-8 animate-spin" style="opacity: 1" src="/static/spinner.svg" />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>