# /etc/systemd/system/{{ secrets.CHANGE_DETECTION.USERNAME }}.service
[Service]
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=20
SyslogIdentifier={{ secrets.CHANGE_DETECTION.USERNAME }}
User={{ secrets.CHANGE_DETECTION.USERNAME }}
Group={{ secrets.CHANGE_DETECTION.USERNAME }}
WorkingDirectory=/home/{{ secrets.CHANGE_DETECTION.USERNAME }}

[Install]
WantedBy=multi-user.target